body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

#app {
    background: rgba(255, 255, 255, 0.164);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
}

button {
    background: #35aeeb;
    color: rgb(249, 244, 253);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background: rgb(93, 104, 190);
    cursor: not-allowed;
}

.question {
    font-size: 18px;
    margin-bottom: 15px;
}

.option {
    display: block;
    margin: 5px 0;
    cursor: pointer;
}
